footer.footer-contato
    div.map
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14616.040998277025!2d-46.699514150000006!3d-23.675591450000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1681231079824!5m2!1spt-BR!2sbr", frameborder="0", width="600" height="300", style="border:0;", allowfullscreen="", loading="lazy", referrerpolicy="no-referrer-when-downgrade") 
    div.contato-container
        div.contato-dados 
            div.email
                i(class="fa-solid fa-envelope")
                span contato@empresa.com.br
            div.phone
                i(class="fa-sharp fa-solid fa-phone-volume")
                span +55 (11) 99988-7766
            div.adress
                i(class="fa-sharp fa-solid fa-location-dot")
                span Rua Jurubatuba, 2000. São Paulo - SP
        div.contato-social
            i(class="fa-brands fa-facebook")
            i(class="fa-brands fa-instagram")
            i(class="fa-brands fa-twitter")
