@import url('/font-awesome-4.6.3/css/font-awesome.min.css');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0
}

.header {
    background-color: #bebebe;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.menu {
    padding: 1rem;
    font-size: 1rem;
}

.menu a {
    margin: 0 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.content {
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-around;
}

.content .sobre-content {
    flex-direction: column;
}

.member-card {
    width: 250px;
    display: flexbox;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 0;
}

.member-card h3 {
    margin: inherit;
    padding: 1rem 0;
}

.function {
    margin: inherit;
    font-size: 1.3rem;
    font-style: italic;
}

.function-description {
    margin: inherit;
    padding: 1rem 0;
}

.member-card img {
    width: 128px;
    border-radius: 50%;
    margin: auto;
}

.contato-form-container {
    height: 300px;
    display: flex;
    justify-content: center;
}

.form-division {
    display: flex;
}

.form-division-input {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

input {
    margin-bottom: 1rem;
}

.message-input {
    height: 4.5rem;
}

.contato-image img {
    height: 300px;
}

.footer {
    background-color: lightsalmon;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.footer-contato {
    background-color: lightsalmon;
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: start;
}

.contato-container {
    flex-grow: 1;
}

.contato-dados {
    padding: 2rem;
    font-size: 1.3rem;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.contato-dados .phone {
    margin: 1rem 0;
}

.contato-dados span {
    margin-left: 1rem;
}

.contato-social {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 3rem;
    padding-left: 2rem;
}

.contato-social i {
    margin: 2rem;
}

.contato-social i:hover {
    cursor: pointer;
}